:root {
    /* Colors */
    --primary-color: #2e656a;
    --secondary-color: #ffcd04;
    --tertiary-color: #0072ff;
    --text-color: #ffffff;
    --background-color: #023b6d;

    /* Sizes */
    --nav-size: 27.5pt;
    --logo-size: 35.5pt;
    --big-size: 100px;
    --text-font: 20px;
    --heading-size: 30.5pt;
    --small-size: 18pt;
}

#root {
    /* max-width: 1280px;
    margin: 0 auto; */
    /* padding: 2rem; */
    /* text-align: center; */
}
body {
    background-color: var(--background-color);
}
